web/
.env
docker-compose.override.yml
vyhub.crt
vyhub.key

# setup/ artifacts
setup/.vyhub.env.cache
setup/.vyhub.install.json
setup/.known_hosts
setup/.local/
setup/tofu/.terraform/
setup/tofu/.terraform.lock.hcl
setup/tofu/terraform.tfstate
setup/tofu/terraform.tfstate.*
setup/tofu/terraform.tfvars
setup/tofu/terraform.tfvars.json
setup/tofu/*.auto.tfvars
setup/tofu/*.auto.tfvars.json
setup/tofu/crash.log
setup/tofu/crash.*.log